@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Source Code Pro', sans-serif;

	--color-primary: #044421;
	--color-secondary: #44403c;
	--color-cta: #ca8a04;
	--color-bg: #fafaf9;
	--color-text: #0c0a09;
	--color-hero: #044421;
}

@layer base {
	body {
		@apply bg-bg font-sans leading-relaxed tracking-wide text-text;
	}

	h1,
	h2,
	h3 {
		@apply leading-tight;
	}
}
